html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1 0 auto;
}

.jumbotron {
  text-align: center;
  background: grey;
  color: white;
  margin-top: 10px;
  height: 220px;
  padding-top: 50px;
}

table {
  width: 100%;
}

/* Look at all these table borders. Who doesn't love table borders? */
thead {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  text-align: center;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
}

.footer {
  background: black;
  color: white;
  height: 40px;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}
